:root {
    --primary: #556b2f;
    --bg: #000000;
    --matcha-dark: #556b2f;
    --matcha-medium: #7b9a6d;
    --matcha-light: #a2d39c;
    --accent: #c4a484;
    --neutral: #dcdcdc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*gak perlu ngatur lagi dimensi elemen saat ngasih padding or border*/
    outline: none; /*buat ngasih style form, button*/
    border: none; /*sehingga punya kendali setiap bordernya*/
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
    /* min-height: 5000px; */
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between; /*biar sejajar secara horizontal*/
    align-items: center; /*biar sejajar secara vertikal*/
    padding: 1.4rem 7%; /*1,4 * 16 pixels artinya, dikasih 7% biar menyesuaikan 7% dibuka di manapun*/
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 3px solid #556b2f; /*biar ada garis garisnya di bawah navbar */
    position: fixed;
    top: 0; /*mentok ke atas*/
    left: 0; /*tarik kiri, supaya penuh 1 layar*/
    right: 0; /*tarik kanan, supaya penuh 1 layar*/
    z-index: 9999; /*navbar selalu berada di atas*/   
}

.navbar .navbar-logo{
    font-size: 2rem; /*2 * 16 pixels */
    font-weight: 600;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo span{
    color: var(--primary)
}

.navbar .navbar-nav a{
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover{
    color: var(--primary);
}

.navbar .navbar-nav a::after{
    content: ''; /*kosongin supaya bisa atur displaynya*/
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}

.navbar .navbar-extra a{
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover{
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}
/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center; /*kalo mau vertikal*/
    /* justify-content kalo mau secara horizontal*/
    position: relative;
}

.hero .bg-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.hero::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    background: linear-gradient(0deg, rgba(101, 67, 33, 0.8) 7%, rgba(101, 67, 33, 0) 25%);
    bottom: 0;
}

.hero .content{
    position: absolute; 
    padding: 1.8rem 7%;
    max-width: 60rem; 
}

.hero .content h1{
    font-size: 4em;
    color: var(--neutral);
    text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
    line-height: 1.2;
}

.hero .content h1 span{
    color: var(--primary);
}

/* animate text start */

.hero .content p{
    font-size: 1.6rem;
    margin-top: 0.5rem;
    line-height: 1.4;
    font-weight: 350;
    text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
    mix-blend-mode: hard-light; /*biar gak nyatu ama bg*/
    background-color: #556b2f;
    border-radius: 0.5rem;
    transform: translateX(-100%);      
}

section .content p{
    transition: 1s;
} 

.hero.show-animate .content p{
    transform: translateX(0);
}  

/* animate text end */

.hero .content .cta{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1,1,3,0.5);
}

.about{
    padding: 10rem 7% 1.4rem;
}

.about h2{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span{
    color:#556b2f;
}

.about .row{
    display: flex; /*supaya sebelah sebelahan */
}

.about .row .about-img{
    flex: 1 1 45rem;
}

.about .row .about-img img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 35rem;
    padding: 0 1rem;

}

.about .row .content .h3{
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
    border-right: 2px solid rgba(255,255,255,.75);
    overflow: hidden; /* Hide overflowing text for the typewriter effect */
    white-space: nowrap; /* Prevent text from wrapping during animation */
    display: inline-block; /* Allow the text container to shrink-wrap around content */
    max-width: 0; /* Start with 0 width for the typewriter effect */
}

.about .row .content .h3animate{
    animation: 
      typewriter 3s steps(44) 1s 1 normal both,
      blinkTextCursor 800ms steps(44) infinite normal;
}

@keyframes typewriter {
    from { max-width: 0; }
    to { max-width: 100%; }
}

@keyframes blinkTextCursor {
    from { border-right-color: rgba(252, 249, 249, 0.75); }
    to { border-right-color: transparent; }
}

/* animate text start */
.about .row .content p{
    margin-bottom: 0.8rem;    
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.4;
    text-align: justify;
    transform: scale(.10);
}

.about.show-animate .row .content p{
    transform: scale(1);
}

/* animate text end */

/*Menu Section */

.menu{
    padding: 10rem 7% 1.4rem;
}
.menu h2{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.menu h2 span{
    color:#556b2f;
}
.menu p{
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

/*slideshow image*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}


.slideshow-container img{
    /*
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh; */
    width: 100%;
    border-radius: 30%; 
} 

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 36.5%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--matcha-dark);
}

/* Caption text */
.text h2{
  color: #f2f2f2;
  font-size: 50px;
  font-weight: bold;
  padding: 8px 12px;
  position: flex;
  bottom: 8px;
  width: 100%;
  text-align: center;
  line-height: 1.2;
}
.text p{
    color: #f2f2f2;
    font-size: 30px;
    padding: 8px 12px;
    position: flex;
    bottom: 8px;
    width: 100%;
    line-height: 1;
    text-align: center;
  }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--matcha-dark);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*contact section*/
.contact{
    padding: 10rem 7% 1.4rem;
}

.contact h2{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.contact h2 span{
    color:#556b2f;
}

.contact p{
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

.contact .row{
    display: flex;
    margin-top: 2rem;
    background-color: #222;
    /* flex-wrap: wrap; */
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem; /*atas bawah 5rem kanan kiri 2rem*/
    text-align: center;
    
}

.contact .row form .input-group{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid #eee;
    padding-left: 2rem;
}

.contact .row form .input-group input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #556b2f;
    background: none;
}
.contact .row form .btn{
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: white;
    background-color: #556b2f;
    cursor: pointer;
}

/* footer css */

footer{
    background-color: #3b3b3b;
    text-align: center;
    padding: 1rem 0;
    margin-top: 5rem;
    border-top: 3px solid #556b2f; /*biar ada garis garisnya di atas footer */
}

footer .socials{
    padding: 1rem 0;
}

footer .socials a{
    color: white;
    margin: 1rem;
    transition: transform 0.3s ease;
} 

footer .socials a .ins:hover {
    transform: scale(1.5); /* Slightly enlarge on hover */
    color: #C13584; /* A slightly different shade on hover */
}
footer .socials a .twt:hover {
    transform: scale(1.5); /* Slightly enlarge on hover */
    color: #0d95e8; /* A slightly different shade on hover */
}
footer .socials a .fb:hover {
    transform: scale(1.5); /* Slightly enlarge on hover */
    color: #145dbf; /* A slightly different shade on hover */
}

footer .links{
    margin-bottom: 1.6rem;
}

footer .links a{
    color: #fff;
    padding: 0.7rem 1rem;
    font-size: medium;
}

footer .links a:hover{
    color: #556b2f;    
    transform: scale(1.2);
}

footer .credit{
    font-size: medium;
}

footer .credit a{
    font-weight: 500;
    color: #556b2f;
}










/* Media Queries */
/* Laptop */
@media (max-width: 1366px){
    html{
        font-size: 75%;
    }
}
/* Tablet */
@media (max-width: 768px){
    html{
        font-size: 62.5%;
    }
    #hamburger-menu {
        display: inline-block;
    }
    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #202713;
        width: 30rem;
        height: 100vh;
        transition: 0.5s;
    }
    .navbar .navbar-nav.active{
        right: 0;
    }
    .navbar .navbar-nav a{
        /* color: var(--bg); */
        color: white;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after{
        transform-origin: 0 0;
    }
    .navbar .navbar-nav a:hover:after{
        transform: scaleX(0.2);
    } 
    .about .row{
        flex-wrap: wrap;
    }

    .about .row .about-img img{
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content{
        padding: 0;
    }
    .about .row .content h3{
        margin-top: 1rem;
        font-size: 2rem;
    }
    .about .row .content p{
        font-size: 1.6rem;
    }
    .contact .row{
        display: flex;
        margin-top: 2rem;
        background-color: #222;
        flex-wrap: wrap; 
    }
    .contact .row .map{
        height: 40rem;
    }
    .contact .row form{
        padding-top: 0;
    }

}
/* Mobile Phone */
@media (max-width: 450px){
    html{
        font-size: 55%;
    }
}
